In [1]:
import re

**Match()**

In [5]:
patter = '^a.....i$'
text = 'ameeeeeei'

mat = re.match(patter,text)

if mat:
    print('found it')
else:
    print('sucks')

sucks

In [6]:
patter = '^a.....i$'
text = 'ameeeei'

mat = re.match(patter,text)

if mat:
    print('found it')
else:
    print('sucks')

found it

**Findall()**

In [3]:
import re


string = 'hello_12 hi 89. Howdy 34'
pattern = '\D+'

result = re.findall(pattern, string) 
print(result)

['hello_', ' hi ', '. Howdy ']

In [22]:
import re


string = 'hello_12 hi 8922. Howdy 34'
pattern = '\d+'

result = re.findall(pattern, string) 
print(result)

['12', '8922', '34']

**Split()**

In [1]:

import re

string = 'Twelve:12 Eighty nine:89 nine:9.'
pattern = '\d+'

result = re.split(pattern, string) 
print(result)

['Twelve:', ' Eighty nine:', ' nine:', '.']

In [6]:
import re

string = 'Twelve:12 Eighty nine:89 nine:9.'
pattern = '\d+'
# split at the first occurence
result = re.split(pattern, string,1) 
print(result)

['Twelve:', ' Eighty nine:89 nine:9.']

**sub()**

In [12]:
# Program to remove all whitespaces
import re

# multiline string
string = 'abc 12\
de 23 \n f45 6'

# matches all whitespace characters
pattern = '\s+'

# empty string
replace = ''

new_string = re.sub(pattern, replace, string) 
print(new_string)

abc12de23f456

In [12]:
# Program to remove all whitespaces
import re

# multiline string
string = 'abc 12\
de 23 \n f45 6'

# matches all whitespace characters
pattern = '\s+'

# empty string
replace = ''

new_string = re.sub(pattern, replace, string,1) 
print(new_string)

abc12de 23
 f45 6

In [13]:
# Program to remove all whitespaces
import re

# multiline string
string = 'abc 12\
de 23 \n f45 6'

# matches all whitespace characters
pattern = '\S'

# empty string
replace = ' '

new_string = re.sub(pattern, replace, string) 
print(new_string)

**subn()**

In [16]:
import re

# multiline string
string = 'abc 12\
de 23 \n f45 6'

# matches all whitespace characters
pattern = '\s+'

# empty string
replace = ''

new_string = re.subn(pattern, replace, string) 
print(new_string)

('abc12de23f456', 4)

In [17]:
import re

string = '39801 356, 2102 1111'

# Three digit number followed by space followed by two digit number
pattern = '(\d{3}) (\d{2})'

# match variable contains a Match object.
match = re.search(pattern, string) 

if match:
  print(match.group())
else:
  print("pattern not found")

801 35

In [18]:
import re

# multiline string
string = 'abc 12\
de 23 \n f45 6'

# matches all whitespace characters
pattern = '\s+'

# empty string
replace = ''

new_string = re.sub(pattern, replace, string) 
print(new_string)

abc12de23f456

In [19]:
import re

# multiline string
string = 'abc 12\
de 23 \n f45 6'

# matches all whitespace characters
pattern = '\s+'

# empty string
replace = ''

new_string = re.subn(pattern, replace, string) 
print(new_string)

('abc12de23f456', 4)

**search()**

In [15]:
import re

string = "Python is fun"

# check if 'Python' is at the beginning
match = re.search('\APython', string)

if match:
  print("pattern found inside the string")
else:
  print("pattern not found")

pattern found inside the string

In [17]:
import re

string = 'Ameer is a data science enthusiast'

pattern = '\S*'

object1 = re.search(pattern,string)

if object1:
    print('Items matched all over wide')
else:
    print('no pattern found')

Items matched all over wide

In [24]:
dir(object1)

['__class__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'end',
 'endpos',
 'expand',
 'group',
 'groupdict',
 'groups',
 'lastgroup',
 'lastindex',
 'pos',
 're',
 'regs',
 'span',
 'start',
 'string']

**Match()**

In [28]:
import re

# string = '39801 356, 2102 1111'

string = '2102 1111,39801 356'

# Three digit number followed by space followed by two digit number
pattern = '(\d{3}) (\d{2})'

# match variable contains a Match object.
match = re.search(pattern, string) 

if match:
  print(match.group())
else:
  print("pattern not found")

102 11

In [50]:
import re

# string = '39801 356, 2102 1111'

string = '2102 1111,39801 35'

# Three digit number followed by space followed by two digit number
pattern = '(\d{5}) (\d{2})'

# match variable contains a Match object.
match = re.search(pattern, string) 

if match:
  print(match.group())
else:
  print("pattern not found")

39801 35

In [51]:
match.group(1)

'39801'

In [52]:
match.group(1,2)

('39801', '35')

In [53]:
match.groups()

('39801', '35')

In [54]:
match.start()

10

In [55]:
match.end()

18

In [56]:
match.span()

(10, 18)

In [58]:
match.re

re.compile(r'(\d{5}) (\d{2})', re.UNICODE)

In [60]:
match.string

'2102 1111,39801 35'

In [62]:
import re

string = '\n and \r are escape sequences.'

result = re.findall(r'[\n\r]', string) 
print(result)

['\n', '\r']

In [10]:
import re
text = "Hello everyone. Welcome to Intro to Machine Learning Applications. We are now learning important basics of NLP$."

text_1 = re.sub(r'[^a-zA-Z0-9\s]', ' ', text)
text_1

'Hello everyone  Welcome to Intro to Machine Learning Applications  We are now learning important basics of NLP  '

In [3]:
text= 'Love thy neighbor'

# splits at space
print(text.split())

grocery = 'Milk, Chicken, Bread'

# splits at ','
# print(grocery.split(' ,'))

# Splitting at ':'
print(grocery.split(':'))

['Love', 'thy', 'neighbor']
['Milk, Chicken, Bread']